<!DOCTYPE html>

<html ng-app="kittiesApp">
	<head>

		<title>Kitties App!</title>


		<link rel="stylesheet" href="css/style.css">


	</head>
	<h1 id="header">KITTIES!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!</h1>
	<body>
		<div id="container" ng-controller="KittiesController as kc">
		<div class="left-container">
			<h1>Kitties for Adoption</h1>
			<div class="dashed" ng-repeat="k in kc.kittiesList" ng-show="k.adopted">
			 <img src="{{k.image}}" alt="" />
			 <p>Name: {{k.catName}}</p>
			 <p>Age: {{k.monthsOld}}</p>
			 <p>Gender: {{k.gender}}</p>
			 <button ng-click="k.adopted = false" type="button" name="button">Throwing me away</button>

			</div>

		</div>


		<div class="right-container">
			<h1>Kitties Adopted</h1>
			<div class="dashed" ng-repeat="k in kc.kittiesList" ng-hide="k.adopted">
			 <img src="{{k.image}}" alt="" />
			 <p>Name: {{k.catName}}</p>
			 <p>Age: {{k.monthsOld}}</p>
			 <p>Gender: {{k.gender}}</p>

			 <button ng-click="k.adopted = true" type="button" name="button">Throwing me away</button>

		</div>
		</div>





		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.min.js" charset="utf-8"></script>
		<script src="js/main.js" charset="utf-8"></script>
		<script src="js/KittiesController.js" charset="utf-8"></script>
    		<!--Sourcing Angular-->

		<!-- Source in module -->

		<!-- Source in controller -->

	</body>
</html>
